/* styles1.css*/
.header {
  background-color: darkgreen;
  font-size: 30px;
  color: azure;
  text-align: center;
  padding:10px;
}
section.block {
  width: 200px;
  background-color: #335c33;
  font-family: cursive;
  font-size: 30px;
  color: azure;
  text-align: center;
  padding: 5px;
}
