/* styles1.css*/
body {
  background-image: url("IMG_0504.png");
header {
  background-image: url("IMG_0504.png");
  font-family: cursive;
  font-size: 30px;
  color: #335c33;
  text-align: center;
  padding:10px;
}
nav {
  margin: 1px;
  text-align: center;
  font-family: sans-serif;
  font-size: 24px;
  color: #335c33;
  padding: 2px;
  & > a {
    color : #335c33;
    text-decoration: none;
}
}
button.buy {
  background-color: #335c33;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
}
section.block {
  margin: 2px;
  background-color: #335c33;
  font-family: cursive;
  font-size: 30px;
  color: azure;
  text-align: center;
  padding: 2px;
  & > a {
    color: azure;
  }
}
  p.about {
    text-align: center;
    font-size: 18px;
    padding: 10px;
  }
  .container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: auto;
  }
    .container div {
      padding: 10px;
      font-family: sans-serif;
      font-size: 24px;
      align-content: center;
    }
footer { 
  background-color: #335c33;
  text-align: center;
}
  button.subscribe {
    margin : 10px;
    background-color: azure;
    color: #335c33;
    text-align: center;
    font-size: 24px;
    padding:30px;
  }
