/* styles1.css*/
body {
  background-image: url("IMG_0504.png");
header {
  bckground-image: url("IMG_0504.png");
  font-family: cursive;
  font-size: 30px;
  color: #335c33;
  text-align: center;
  padding:10px;
}
nav {
  margin: 1px;
  background-color: white;
  display: flex;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  color: #335c33;
  padding: 2px;
}
section.block {
  margin: 10px;
  background-color: #335c33;
  font-family: cursive;
  font-size: 30px;
  color: azure;
  text-align: center;
  padding: 5px;
}
footer { 
  background-color: #335c33;
  text-align: center;
}
  .subscribe {
    background-color: #00b3b3;
    text-align: center;
    padding: 0.5px;
  }
